.paper {
  position: relative;
  padding: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  gap: 16px;
  width: 750px;
}

.data {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.refreshClose {
  position: absolute;
  top: 8px;
  right: 16px;
  width: fit-content;
}

.addr {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: baseline;
}

.header {
  width: 120px;
}

.statusAndFee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fees {
  padding: 8px;
  width: 160px;
}

.fee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.joinAdd {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.amountApprove {
  display: flex;
  align-items: center;
  gap: 16px;
}

.amount {
  flex-grow: 1;
}

.noConnection {
  text-align: right;
  font-style: italic;
  color: gray;
}

.notAccessible {
  font-style: italic;
  color: gray;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

