.paper {
  position: relative;
  padding: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.refreshClose {
  position: absolute;
  top: 8px;
  right: 16px;
  width: fit-content;
}

.status {
  color: #0098EA;
}

@media (min-width: 750px) {
  .paper {
    width: 750px;
  }

  .addressesAndFees{
    flex-direction: row;
    justify-content: space-between;
  }

  .addrHeader {
    width: 60px;
  }

  .addr {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: baseline;
  }

  .fees {
    padding: 8px;
    width: 160px;
  }

  .winner {
    flex-direction: row;
  }
}

@media (max-width: 750px) {
  .addressesAndFees{
    flex-direction: column;
    justify-content: space-between;
  }

  .fees {
    margin-top: 8px;
    box-shadow: none;
  }

  .winner {
    flex-direction: column;
  }
}

.winner {
  display: flex;
  gap: 8px;
}

.addressesAndFees{
  display: flex;
  margin-top: 8px;
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}


.action {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.addJoin {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.addJoinBtn {
  /* width: 120px; */
}

.approve {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .winner { */
/*   display: inline-flex; */
/*   flex-direction: row; */
/*   gap: 8px; */
/* } */

.noConnection {
  text-align: right;
  font-style: italic;
  color: gray;
}

.notAccessible {
  font-style: italic;
  color: gray;
  padding-right: 16px;
}

