.paper {
  position: relative;
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.close {
  position: absolute;
  top: 8px;
  right: 16px;
  width: fit-content;
}
