.paper {
  position: relative;
  padding: 16px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 750px) {
  .paper {
    width: 750px;
  }
}

@media (max-width: 750px) {
  .paper {
    width: 92%;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 16px;
  width: fit-content;
}

.header {
  color: #0098EA;
}

.amountAndFee {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.noConnection {
  text-align: right;
  font-style: italic;
  color: gray;
}

