.paper {
  position: relative;
  padding: 16px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
  margin-left: 32px;
}

.close {
  position: absolute;
  top: 8px;
  right: 16px;
  width: fit-content;
}

.header {
  color: #0098EA;
}

.amountAndFee {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.address {
  width: 600px;
}

.amount {
  width: 400px;
}

.fee {
  width: 192px;
  margin-left: 16px;
}

.create {
  width: 600px;
}

.noConnection {
  text-align: right;
  font-style: italic;
  color: gray;
}

